*{
  margin: 0;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: .625rem; 
  box-sizing: border-box;
}

:root{
  --main: hsla(259,70%,6%,1);
  --sec: hsla(256,100%,15%,1);
  --third: hsla(273,100%,22%,1);
  --fourth: hsla(279,100%,29%,1);
  --white: hsla(0,0%,82%,1);
  --red: hsla(0,100%,75%,1);
  --red2: hsla(0,100%,35%,1);
}

body{
  background: linear-gradient(45deg,var(--main),var(--sec)) center center no-repeat fixed;
  min-width: 480px;
}
/* - Header - */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header>section{
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
}

.title{
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.loginContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
  "username password buttons"
  "remember . buttons";
  justify-content: center;
  gap: .5rem;
}

.loginInput{
  width: 150px;
  gap: 3px;
}

.loginInput:nth-child(1){ grid-area: username; }
.loginInput:nth-child(2){ grid-area: password; }
.loginInput:nth-child(3){ 
  flex-flow: row;
  align-items: center;
  grid-area: remember; 
}
.loginInput:nth-child(4){ grid-area: buttons; }

/* - Main - */

main{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 3rem;
  padding: 5rem;
}

aside{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 3rem;
}

.service{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.registerContainer{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
}

.registerContainer div:last-child{
  align-self: center;
}

/* - Index - */
.logged{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border: 2px solid white;
}
/* - Utils */

.bgsText{ font-size: 3rem; }

.bgText{ font-size: 2.6rem; }

.mdText{ font-size: 1.6rem; }

.smText{ font-size: 1.4rem; }

.white{ color: var(--white); }

.bold{ font-weight: bold; }

.container-720{
  max-width: 720px;
  padding: 0 2rem;
}

.container-1140{
  max-width: 1140px;
  padding: 0 2rem;
}

.shadowMain{
  border-radius: 10px;
  border: 1px solid var(--white);
  box-shadow: 0px 0px 25px 0px var(--white);
}

.ilContainerCol{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.twoInputContainerRow{
  display:flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center
}

.inputText{
  width: 100%;
  padding: .2rem .4rem;
  font-size: 1.4rem;
}

.alert{
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.redAlert{
  border: 2px solid var(--red2);
  background-color: var(--red);
  color: var(--red2);
}

.btn{
  position: relative;
  padding: .75rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.btn::before{
  content: "";
  position: absolute;
  top: -2px;
  left: calc(50% - 2px);
  width: 0;
  height: 100%;
  border-radius: 5px 0 0 5px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transition: all .3s ease 0s;
  z-index: -1;
}

.btn::after{
  content: "";
  position: absolute;
  top: -2px;
  right: calc(50% - 2px);
  width: 0;
  height: 100%;
  border-radius: 0 5px 5px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: all .3s ease 0s;
  z-index: -1;
}

.btnThird{
  background-color: var(--sec);
  color: var(--white);
  border: 2px solid var(--sec);
}

.btnThird:hover{
  color: var(--white);
}

.btnThird:hover::before{
  width: 50%;
  left: -2px;
  border-color: var(--white);
}

.btnThird:hover::after{
  width: 50%;
  right: -2px;
  border-color: var(--white);
}

@media screen and (max-width: 980px){
  header{
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  main{
    justify-content: center;
  }
}


